# KNN

read the data

In [99]:
import pandas as pd
import numpy as np

In [100]:
train_data=pd.read_csv("C:/Users/Administrateur/Documents/GI2_S4/train.csv")
del train_data['Item_Identifier']
del train_data['Outlet_Identifier']
train_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [101]:
test_data=pd.read_csv("C:/Users/Administrateur/Documents/GI2_S4/test.csv")
del test_data['Item_Identifier']
del test_data['Outlet_Identifier']
test_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,20.750,Low Fat,0.007565,Snack Foods,107.8622,1999,Medium,Tier 1,Supermarket Type1
1,8.300,reg,0.038428,Dairy,87.3198,2007,NaN,Tier 2,Supermarket Type1
2,14.600,Low Fat,0.099575,Others,241.7538,1998,NaN,Tier 3,Grocery Store
3,7.315,Low Fat,0.015388,Snack Foods,155.0340,2007,NaN,Tier 2,Supermarket Type1
4,NaN,Regular,0.118599,Dairy,234.2300,1985,Medium,Tier 3,Supermarket Type3

In [102]:
train_data.isnull().sum()

Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [104]:
import numpy as np
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,
                        strategy ='most_frequent')
imputer = imputer.fit(train_data)
 
# Imputing the data    
data = imputer.transform(train_data)
 
train_data = pd.DataFrame(data, columns =train_data.columns )
train_data.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [105]:
test_data.isnull().sum()

Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [106]:
imputer = SimpleImputer(missing_values = np.nan,
                        strategy ='most_frequent')
imputer = imputer.fit(test_data)
 
# Imputing the data    
data = imputer.transform(test_data)
 
test_data = pd.DataFrame(data, columns =test_data.columns )
test_data.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [107]:
#convert nom numeric value
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for column in train_data.columns:
    train_data[column] = le.fit_transform(train_data[column].astype(str))
train_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,406,1,664,4,3849,4,1,0,1,1976
1,179,2,880,14,4668,8,1,2,2,2316
2,82,1,715,10,1158,4,1,0,1,912
3,99,2,0,6,2484,3,1,2,0,3185
4,387,1,0,9,4822,1,0,2,1,3488

In [108]:
X=train_data.loc[:, train_data.columns != 'Item_Outlet_Sales'].values
Y=train_data['Item_Outlet_Sales']

In [109]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size=0.2,random_state=1,shuffle=False)

In [110]:
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
x_train_scaled = scaler.fit_transform(X_train)
x_train = pd.DataFrame(x_train_scaled)

x_test_scaled = scaler.fit_transform(X_test)
x_test = pd.DataFrame(x_test_scaled)

In [111]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
model = KNeighborsRegressor()
# define grid
grid = dict()
weight_options = ["uniform", "distance"]
grid['n_neighbors'] = np.arange(2,20)
grid['weights']=weight_options
# define search
search = GridSearchCV(model, grid,cv=5)
# perform the search
results = search.fit(x_train,y_train)
print(' BEST SCORE %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

 BEST SCORE 0.060
Config: {'n_neighbors': 19, 'weights': 'distance'}

In [112]:
from sklearn.metrics import mean_squared_error 
from math import sqrt
model=KNeighborsRegressor(n_neighbors=19,weights='distance')
y_pred=results.predict(x_test) #make prediction on test set